/* CSS Document */
*{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none;}
.clear{ clear:both;}
body{ background:#f7f7f7;}

.map{ width:25%; border-right:1px solid #f7f7f7; border-bottom:1px solid #f7f7f7; padding:10px; float:left; box-sizing:border-box; transition:all 0.3s ease;}


@media (max-width:1200px){
	.map{ width:33.33%;}
}
@media (max-width:900px){
	.map{ width:50%;}
}
@media (max-width:600px){
	.map{ width:100%;}
}